:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  margin: 0;
  padding: 10px;

  background: no-repeat center/auto 100% url("https://images.cnbctv18.com/uploads/2024/08/shutterstock-2480509399-2024-08-368b960cfc07a7fc6986b47f60f0159d-scaled.jpg");
}

h1,
h2,
h3 {
  margin: 0;
}
