:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  margin: 0;
  padding: 10px;
  color: darkgoldenrod;

  background: no-repeat center/auto 100% url("https://i.makeagif.com/media/4-29-2016/jCLouU.gif");
  background-size: cover;
}

h1,
h2,
h3 {
  margin: 0;
  color: darkgreen;
  text-shadow: 1px 1px 3px darkgoldenrod;
}
